

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="Type" class="com.org.wiringbeans.AccountType" />
	<bean id="AccountDetails" class="com.org.wiringbeans.AccountDetails">
		<property name="accType" ref="Type" />
	</bean>
</beans>
	
	
	
	
	
	
	